.formulario{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 1rem;
    border: 1px solid #24303c;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: white;
}
.button{
    width: 50%;
    background: rgb(0, 174, 255);
    border: none;
    padding: 12px ;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

